/* Resources */
@font-face {
    font-family: 'Hylia Serif';
    src: url('/korok_hunt/fonts/HyliaSerifBeta-Regular.ttf');
}



/* Main Page Styling */

    /* Containers */
.top_container{
    display: flex;
    flex-direction: row;
    padding-top: 1%;
}

.logo_container{
   width: 11%;
   align-items: center;
}

.l_container{
    width: 78%;
}

.text_container{
    background-color: rgb(226, 144, 72);
    border-radius: 2vw;
    box-shadow: 0 5px 10px rgb(142, 118, 86);

    width: 82%;
    margin-left: auto;
    margin-right: auto;
}

    /* Text */
.b_paragraph {
    font-family: Hylia Serif;
    color: rgb(122, 81, 0);
    text-shadow: 0 0 5px rgba(115, 58, 17, .35);

    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

    font-size: calc(92px - 4vw);
}

.t_paragraph {
    font-family: Hylia Serif;
    color: rgb(82, 58, 11);
    text-shadow: 0 0 5px rgb(115, 58, 17, .5);

    text-align: center;
    width: 100%;
    padding-top: 10px;

    font-size: calc(122px - 4vw);
}

.bottom_paragraph {
    font-family: Hylia Serif;
    color: rgb(121, 100, 72);
    text-shadow: 0 0 5px rgb(115, 58, 17, .5);

    text-align: center;
    margin-left: auto;
    margin-right: auto;

    font-size: 18pt;
}

    /* Images */
.logo_container img{
    width: 100%;
    filter: drop-shadow(0 0 20px rgb(92, 76, 56));
}

.leaderboard_button img{
    width: 40%;
}


/* Phone Display*/
@media all and (max-device-aspect-ratio:1){
    .top_container{
        display: flex;
        flex-direction: column;
        padding-top: 1%;
        margin-left: 1%;
        width: 98%;
    }
    
    .logo_container{
        align-items: center;
        width: 100%;
    }

    .l_container{
        width: 98%;
        aspect-ratio: 1.5;
    }

    .text_container{
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }

    .b_paragraph{
        width: 94%;
    }

    .logo_container a{
        text-align: center;
        display: block;
        width: fit-content;;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .logo_container img{
        height: 25vh;
        width: auto;
        max-width: 100%;
    }

    .leaderboard_button img{
        width: 90%;
    }
}

.l_container > .map_frame{
    border: 10px solid rgb(226, 144, 72);
    border-radius: 2vw;
    box-shadow: 0 0 20px rgb(142, 118, 86);
    
    width: 100%;
    aspect-ratio: 2;
    border-radius: 2vw;
    overflow: hidden;
}



/* User Info Styling */
.user_display{
    background-color: rgb(151, 107, 62);
    border-left: 10px solid rgb(74, 74, 74);
    border-bottom: 10px solid rgb(74, 74, 74);;
    border-bottom-left-radius: 3vw;
    box-shadow: 0 0 10vw black;
    
    position: absolute;
    top: 0;
    right: 0;

    font-family: Hylia Serif;
    font-size: 3.5em;
    color: goldenrod;
    text-wrap: wrap;
    overflow-wrap: break-word;

    max-width: 35%;
    padding-left: .25em;
    padding-right: .25em;
    padding-bottom: .1em;
}



/* Popup Styling*/
.align_popup{
    opacity: 0;
    visibility: hidden;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;

    background-size: contain;
    container-type: size;
}

.info_popup{
    background-color: rgb(151, 107, 62);
    border: 10px solid rgb(74, 74, 74);
    border-radius: 4vmax;
    box-shadow: 0 0 0px 1000px  rgb(0,0,0, .75);

    max-width: 90%;
    max-height: 90%;
    aspect-ratio: .6;
    z-index: 3;

    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
}
.info_popup > img{
    height: 55%;
    width: auto;
}

.korok_popup_text{
    font-family: Hylia Serif;
    font-size: min(5vh, 8.33vw);
    color: whitesmoke;
    margin-bottom: auto;
}
.korok_popup_text > .korok_popup_prev{
    font-size: min(4vh, 6.64vw);
    line-height: min(4vh, 6.64vw);;
    color: rgb(193, 193, 193);
    padding-top: 2%;
}

.info_popup_text{
    font-family: Hylia Serif;
    /*font-size: min(4.25vh, 6.07vw);  0.7 aspect */ 
    font-size: min(4vh, 6.66vw);
    color: whitesmoke;
}
.popup_title_text {
    font-family: Hylia Serif;
    /*font-size: min(5.5vh, 7.85vw); .7 aspect*/
    font-size: min(4.71vh, 7.85vw);
    color: rgba(41, 29, 0, 0.785);
    padding-bottom: 3vh;
}
.popup_title_text > u {
    font-family: Hylia Serif;
    /*font-size: min(6.4vh, 9.17vw); .7 aspect*/
    font-size: min(5.5vh, 9.17vw);
    color: goldenrod;
}


.input_popup{
    background-color: rgb(151, 107, 62);
    border: 1vw solid rgb(74, 74, 74);
    border-radius: 4vmax;
    box-shadow: 0 0 0px 1000px  rgb(0,0,0, .75);

    max-height: 60%;
    max-width: 90%;
    aspect-ratio: 1.25;
    z-index: 2;

    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;

    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
}

.input_popup_text{
    font-family: Hylia Serif;
    font-size: min(5vh, 6vw);
    color: rgb(193, 193, 193);
    text-align: center;
}
.input_popup_error{
    font-family: Hylia Serif;
    font-size: min(4vh, 4.8vw);
    color: rgb(107, 0, 0);
    text-align: center;

    visibility: hidden;
}
.input_text_area{
    font-family: Hylia Serif;
    color: black;

    width: min(45vh, 54vw);
    height: min(6vh, 7.2vw);
    font-size: min(6vh, 7.2vw);
    line-height: min(6vh, 7.2vw);
    outline: none;
    border: none;

    text-align: center;
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;

    vertical-align: middle;
}
.input_text_area_label{
    color: whitesmoke;
    vertical-align: middle;
}

.popup_button_container{
    margin-top: auto;
}
.popup_button_container > .popup_button {
    background-color: rgb(255, 194, 131);
    border-radius: 2vw;
    width: 80%;
    aspect-ratio: 4;

    font-family: Hylia Serif; 
    color: goldenrod; 
    /*font-size: min(6vh, 8.57vw); .7 aspect*/
    font-size: min(5vh, 8.33vw);

    border: none;
    outline: none;
    outline-width: 0;
}


.show{
    opacity: 1;
    visibility: visible;
}



/* Leaderboard styling */
.l_container > .leaderboard_frame{
    border: 10px solid rgb(226, 144, 72);
    border-radius: 2vw;
    box-shadow: 0 0 20px rgb(142, 118, 86);
    background-color: rgb(181, 115, 57);
    
    width: 100%;
    height: 75vh;
    border-radius: 2vw;

    overflow-x: hidden;
    overflow-y: scroll;
}

.leaderboard_frame::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

.leaderboard_container{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

    background-color: rgb(211, 154, 61);
    border-radius: 2vh;

    font-family: Hylia Serif;
    color: rgb(122, 81, 0);
    text-shadow: 0 0 5px rgba(115, 58, 17, .35);
    font-size: 2vw;
}

.leaderboard_container username{
    padding-left: 1vw;
    padding-right: 2vw;
    text-wrap: wrap;
}

.leaderboard_container count{
    margin-left: auto;
    width: auto;
    text-wrap: nowrap;
}


/* Phone Display*/
@media all and (max-device-aspect-ratio:1){
    .l_container > .leaderboard_frame{
        height: 60vh;
    }

    .leaderboard_container{
        font-size: calc(92px - 4vw);
    }
}


/* Alignment */
html{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-color: burlywood;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.v_center {
    margin-top: auto;
    margin-bottom: auto;
}